<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Book A Dink uses your location to show clubs and games near you.</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bookadink.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bookadink</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
